Develop a social media app backend using express js and mongodb
1-Authentication using JWT and social sign in
2-Posts
3-Comments
4-Likes
5-Favourites

user creates posts, 
posts has Comments, 
posts has Likes,
user can like on other Posts,
user can save(add to Favourites) other Posts,
user can comment on other Posts

i have created schema for posts, and Comments. now i guess no schema is required for likes and Favourites, it can be an array


